<div>
    <div>
        <h2>Sign Up!</h2>
        <form class="sign-form">
            <div>
                <p>Username:</p>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <p>Password:</p>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">Sign-up</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>